<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped">
          <tr><th>Season</th><th>Dates</th><th>Rates (per unit per night)</th></tr>
          <tr><td>Peak Season</td><td>12th December to 15th January</td><td>R{{page.peak_season_rate}}</td></tr>
          <tr><td>Mid Season</td><td>1st November to 5th May (School and National Holidays)</td><td>R{{page.mid_season_rate}}</td></tr>
          <tr><td colspan=2>All other times</td><td>R{{page.out_season_rate}}</td></tr>
        </table>
        <p><em>WE DO NOT RENT OUT TO STUDENT GROUPS DURING MATRIC RAGE OR NEW YEAR.</em>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
